body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

h1{
    color: #1e3a8a;
}

button{
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #1d4ed8;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor{
    width: 80%;
    margin: auto;
    text-align: center;
}

.imagen-accidente{
    width: 700px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

ul{
    display: inline-block;
    text-align: left;
}

textarea{
    width: 500px;
    max-width: 100%;
}